.bottomLink {
  background-color: darkslategrey;
}

.bottomLink-wrappper {
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  color: white;
}

.item {
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
}
